.calculator {
  position: relative;
}

.calculator__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100%;
  height: auto;
  padding: 60px 0;
  margin: 0 auto;
}

.calculator__body {
  max-width: 400px;
  width: 100%;
  height: 100px;
  color: darkslategrey;
  background-color: antiquewhite;
}

span {
  display: block;
  padding: 15px 30px;
  font-size: 60px;
  font-weight: 600;
  text-align: right;
}
