.calculator__buttons {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100px;
  height: 100px;
  font-size: 36px;
  font-weight: 600;
  color: darkslategrey;
  background-color:antiquewhite;
  border: 1px solid darkslategrey;
  cursor: pointer;
}

.large {
  width: 200px;
}

.darker {
  background-color: burlywood;
}